In [32]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import date
from datetime import datetime
import time
import requests
import requests_cache
import re


#headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
    'Accept-Language': 'en-US,en;q=0.5',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Upgrade-Insecure-Requests': '1'
}
requests_cache.install_cache('yahoo_cache')

<h1>Part 1 - S&P and portfolio web scraper</h1>
<h2>Introduction</h2>
<p>The Standard and Poor's 500, or simply the S&P 500, is a stock market index tracking the stock performance of 500 large companies listed on stock exchanges in the United States. Having consisting of 11 different sectors and over 500 different companies, the index can be used as a benchmark for a basic stock portfolio diversification in the US stock marker. It is one of the most commonly followed equity indices.</p>
    
<p>This script scraps data from the yahoo finance statistics page.</p>
<img src="sample.JPG">
<p>Two sets of data are in focus</p>
<ol>
    <li>The S&P index constituents.</li>
    <li>One's portfolio</li>
    </ol>

## Item 1 - Function Definitions
<h3>Getting updated S&P tickers from slickcharts website</h3>

In [33]:
def scrap_SnP_tickers(url='https://www.slickcharts.com/sp500', tableclass="table-responsive"):
    '''
    Function to scrap the latest S&P data from a website containing S&P data
    Input:
        url = website url
        tableclass = name of tableclass containing the data
    '''
    resp = requests.get(url, headers = headers)
    soup = BeautifulSoup(resp.text, "html.parser")
    table = soup.find(class_ = tableclass)

    table_head = table.find('thead')
    header_list = []
    ths = table_head.find_all('th')
    for th in ths:
        header_list.append(th.text.strip())

    table_body = table.find('tbody')

    rows = table_body.find_all('tr')
    sp_data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        sp_data.append([ele for ele in cols if ele]) # Get rid of empty values

    sp_df = pd.DataFrame(np.array(sp_data))
    sp_df.columns = header_list
    sp_df = sp_df.drop('#', axis=1)
    sp_df['Symbol'].replace(regex={r'[\.]': '-'}, inplace=True) #tickers need to have - instead of . for proper search on yahoo
    tickers = sp_df['Symbol'].tolist()
    print(f'Number of S&P constituent tickers = {len(tickers)}')
    display(sp_df.head())
    return sp_df, tickers

<h3>Retrieving headers of yahoo finance stats page (Optional)</h3>

In [34]:
def get_yf_headers(ticker_sample): #ticker_sample is any ticker(str) for the purpose of retrieving the headers
    #Getting headers
    url = f'https://finance.yahoo.com/quote/{ticker_sample}/key-statistics?p={ticker_sample}'
    resp = requests.get(url, headers = headers)
    print(f'Using {ticker_sample} for headers, status - {resp.status_code}')
    soup = BeautifulSoup(resp.text, "html.parser")

    titles = ['Ticker']
    rows = soup.find_all("tr")
    for row in rows:
        cols = row.find_all("td")
        ele = cols[0].text.strip() 
        titles.append(ele)

    metrics_df = pd.DataFrame({"Metrics":titles})
    metrics_df['Metrics'].replace(regex={r'[0-9]$': ''}, inplace = True) #removes the annotations appearing at the end of rows
    metrics_df.iloc[24:29,0].replace(regex={r'(\(.+\))': ''}, inplace = True) #remove the dates under rows 24-28
    metrics = metrics_df['Metrics'].tolist()
    print(f'Extraction of headers complete! Total metric columns = {len(metrics)}')
    return metrics

<h3>Renaming the headers manually to indicate units clearly</h3>

In [35]:
metrics = ['Name',
 'Market Cap (B)',
 'Enterprise Value (B)',
 'Trailing P/E',
 'Forward P/E',
 'PEG Ratio (5 yr expected)',
 'Price/Sales (ttm)',
 'Price/Book (mrq)',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Beta (5Y Monthly)',
 '52 Week Change (%)',
 'S&P500 52-Week Change (%)',
 '52 Week High',
 '52 Week Low',
 '50-Day Moving Average',
 '200-Day Moving Average',
 'Avg Vol 3 month (M)',
 'Avg Vol 10 day (M)',
 'Shares Outstanding',
 'Implied Shares Outstanding',
 'Float',
 '% Held by Insiders',
 '% Held by Institutions',
 'Shares Short (M)',
 'Short Ratio (M)',
 'Short % of Float',
 'Short % of Shares Outstanding',
 'Shares Short',
 'Forward Annual Dividend Rate',
 'Forward Annual Dividend Yield (%)',
 'Trailing Annual Dividend Rate',
 'Trailing Annual Dividend Yield (%)',
 '5 Year Average Dividend Yield',
 'Payout Ratio (%)',
 'Dividend Date',
 'Ex-Dividend Date',
 'Last Split Factor (x:1)',
 'Last Split Date',
 'Fiscal Year Ends',
 'Most Recent Quarter (mrq)',
 'Profit Margin (%)',
 'Operating Margin (ttm) (%)',
 'Return on Assets (ttm) (%)',
 'Return on Equity (ttm) (%)',
 'Revenue (ttm) (B)',
 'Revenue Per Share (ttm)',
 'Quarterly Revenue Growth (yoy) (%)',
 'Gross Profit (ttm) (B)',
 'EBITDA (B)',
 'Net Income Avi to Common (ttm) (B)',
 'Diluted EPS (ttm)',
 'Quarterly Earnings Growth (yoy) (%)',
 'Total Cash (mrq) (B)',
 'Total Cash Per Share (mrq)',
 'Total Debt (mrq) (B)',
 'Total Debt/Equity (mrq)',
 'Current Ratio (mrq)',
 'Book Value Per Share (mrq)',
 'Operating Cash Flow (ttm) (B)',
 'Levered Free Cash Flow (ttm) (B)']

#for visually checking if the list referencing is correct
#temp = get_yf_headers('AAPL')
#test = pd.DataFrame({'Old':temp, 'new':metrics})
#test.iloc[0:60,:]

### Scraping and casting ticker stats into 2D list

In [36]:
def scrap_ticker(tickers, data_dict, sleeptime=2, batch_interval=50):  
    '''
    Function take takes in a list of tickers and scraps the yahoo stats into a dictionary.
    Input:
        tickers : list of tickers
        all_data : dictionary to update with the scrapped data, should be created outside the function
        sleeptime : time to sleep between scraps
        batch_interval : number of scraps before a longer rest
        '''
    
    start_time = datetime.now()
    
    #check if there is any existing data in all_data (dictionary), if yes, assigns this run to the next batch number
    if data_dict:
        batch_number = max(data_dict.keys())+1
        print(f'Batch number: {batch_number}')
    else:
        batch_number = 1
    
    #initialize the batch_count, and wait_counter (for increasing waits between failed scraps)
    batch_count = 0
    wait_counter = 1

    #initialize list for collecting batch data and list for collecting tickers with errors
    batch_data = []
    missed_tickers=[]
    
    try:
        for count, ticker in enumerate(tickers):
            url = f'https://finance.yahoo.com/quote/{ticker}/key-statistics?p={ticker}'
            resp = requests.get(url, headers = headers)
            print(f'{ticker} status - {resp.status_code}, {count+1}/{len(tickers)}', end=' ')
            soup = BeautifulSoup(resp.text, "html.parser")
            
            title = soup.find("h1")
            data= [title.text]
            
            rows = soup.find_all("tr")
            for row in rows:
                cols = row.find_all("td")
                ele = cols[1].text.strip()
                data.append(ele)
            
            #to account for errors in the extraction length or data
            if len(data)!=len(metrics) or data[1] == 'N/A':
                if len(data)!=len(metrics):
                    print(f'length error({len(data)} instead of {len(metrics)}) in {ticker}')
                elif data[1] == 'N/A':
                    print(f'N/A found in Marketcap of {ticker}')
                missed_tickers.append(ticker)
                print(f'Sleeping for {sleeptime*2*wait_counter}s')
                time.sleep(sleeptime*2*wait_counter)
                wait_counter +=1
            else:
                batch_data.append(data)
                print(f'complete!')
                batch_count +=1
                time.sleep(sleeptime)

            #code to sleep after a batch
            if batch_count == batch_interval:
                data_dict[batch_number] = pd.DataFrame(np.array(batch_data))
                print(f'\nLength of info extracted is {len(batch_data)} in batch {batch_number} \n')
                batch_count = 0
                batch_number +=1
                batch_data = []
                print(f'Sleeping for {sleeptime*2}s')
                time.sleep(sleeptime*2)
    except Exception as e:
        print(e)
    finally:
        #the final appending for last batch with n smaller than 50
        data_dict[batch_number] = pd.DataFrame(np.array(batch_data))
        print(f'Length of info extracted is {len(batch_data)} in batch {batch_number}')
        end_time = datetime.now()
        print('Elapsed time was', (end_time - start_time))
        print()
        return missed_tickers

In [37]:
def rescrap_missed(missed_tickers, data_dict, max_tries=5):
    '''
    Extracts tickers that had errors/incomplete info
    Input:
        list of missed_tickers
        max_tries (int) default 5
        user_prompt (boolean) prompt to continue if max_tries exceeeded 
    '''
    count = 0
    while missed_tickers:
        print(f'Extracting missed tickers: Attempt {count+1}')
        temp = missed_tickers.copy()
        missed_tickers = scrap_ticker(temp, data_dict, sleeptime=2)
        count +=1
        if count >= max_tries:
            break
    print('Unresolved tickers:', missed_tickers)
    return missed_tickers

<h3>Casting the dataframe and cleaning all the data</h3>

In [38]:
def clean_df(all_data, metrics, display_progress=False):
    '''
    Function to cast and clean the dataframe via the following:
    1. Cast dictionary(all_data) into a pandas dataframe
    2. Format strings into numbers according (large number format)
    3. Clean stocksplit ratios 
    4. Recast dates into datetime format

    Inputs:
    all_data : scrapped data [dictionary]
    metrics : list of column headers [list]
    display_progress: boolean to show processes
    '''
    #Casting the dataframe
    frames = [all_data[x] for x in all_data]
    all_data_df = pd.concat(frames)
    all_data_df.columns = metrics

    # Save the name list first to ensure correct order of tickers scrapped
    # Split the name into company name and ticker

    def extract_tickers(name):
        ticker_symbol = re.findall('\(([a-zA-Z\-]+)\)', name)
        try:
            # Check for accidental extractions
            if len(ticker_symbol)>1:
                index = -1
            else:
                index = 0
            return ticker_symbol[index]
        except IndexError:
            print(f'No ticker found for company: {name}')
            return np.nan

    all_data_tickers = all_data_df['Name'].apply(extract_tickers)
    all_data_name = all_data_df['Name'].apply(lambda x: x.split('(')[0])


    if display_progress:
        print('Casting data, index and columns to build the dataframe')
        display(all_data_df.head()) 

    def _num_reformat(x):
        '''
        Reformats large sums (Billion, million, thousand) and removing (%,) values
        Casts numerical values into float type
        '''
        x = re.sub("[,]", "", x)
        if x[-1] == 'T':
            x = round(float(x[:-1])*1000,2)
        elif x[-1] == 'B':
            x = round(float(x[:-1]),2)
        elif x[-1] == 'M':
            x = round(float(x[:-1])*0.001,2)
        elif x[-1] == 'k':
            x = round(float(x[:-1])*0.000001,2)
        elif x[-1] == '%':
            x = round(float(x[:-1]),2)             
        elif x == "N/A":
            x = 0
        return x

    cleaned_df = all_data_df.iloc[:,1:].applymap(_num_reformat)

    # Insert back columns for progress display
    cleaned_df.insert(0, 'Name', all_data_name)
    if display_progress:
        print('Reformatting large sums (Billion, million, thousand) and removing (%,) values')
        display(cleaned_df.head())
    
    def _stocksplits(x):
        '''
        Changes split factors into x:1 whole ratios
        '''
        if type(x)==str:
            x = x.split(':')
            return round(int(x[0])/ int(x[1]),2)
        else:
            return x
    
    cleaned_df['Last Split Factor (x:1)'] = cleaned_df['Last Split Factor (x:1)'].apply(_stocksplits)
    if display_progress:
        print('Handling the stock split factor column')
        display(cleaned_df.iloc[:,[0,37]].head())
    
    
    
    def _date_conversion(x):
        '''
        Converts dates int datetime format at the end of the dataframe
        '''
        if x == 0:
            return np.nan
        else:
            x = str(x)
            return datetime.strptime(x, '%b %d %Y').date()

    # Slicing columns which should be dates
    dates = cleaned_df.iloc[:,[35, 36, 38, 39, 40]]
    dates = dates.applymap(_date_conversion)
    dates = dates.replace({0:np.nan})

    if display_progress:
        print('Converting dates to datetime format')
        display(dates.head())

    # Drop the old date columns, add datetime columns and add back all ticker & company names
    final_df = cleaned_df.drop(cleaned_df.columns[[0, 35, 36, 38, 39, 40]], axis = 1).astype('float64')
    final_df = pd.concat([final_df, dates], axis = 1)
    final_df.insert(0, 'Ticker', all_data_tickers)
    ticker_df = pd.concat([all_data_tickers, all_data_name], axis=1)
    ticker_df.columns = ['Ticker', 'Name']
    
    if display_progress:
        print('Final_df cleaned')
        display(final_df.head())
    
    #return the completed pandas dataframe
    return final_df, ticker_df

## Option 1 - S&P data

In [39]:
sp_df, tickers = scrap_SnP_tickers()

Number of S&P constituent tickers = 503

                 Company Symbol    Weight   Price    Chg     % Chg
0             Apple Inc.   AAPL  7.104214  164.97  -0.59  (-0.35%)
1  Microsoft Corporation   MSFT  6.224815  286.50  -3.34  (-1.15%)
2        Amazon.com Inc.   AMZN  2.633905  102.72   0.32   (0.32%)
3     NVIDIA Corporation   NVDA  1.878221  267.32   2.69   (1.02%)
4  Alphabet Inc. Class A  GOOGL  1.846088  108.93   1.50   (1.40%)

## Option 2 - Personal portfolio data

In [12]:
input_tickers = pd.read_csv('portfolio_tickers.csv') #input file with a list of portfolio tickers
tickers = input_tickers['Tickers'].tolist()

### Run code

In [40]:
scrapped_data = {}

try:
    missed_tickers = scrap_ticker(tickers, data_dict=scrapped_data, sleeptime=2, batch_interval=50)
    if missed_tickers:
        missed_tickers = rescrap_missed(missed_tickers, data_dict=scrapped_data, max_tries=2)
except Exception as e:
    print(e)
finally:
    final_df, ticker_df = clean_df(scrapped_data, metrics, display_progress=False)
    final_df.reset_index(drop=True, inplace=True)
final_df

AAPL status - 200, 1/503 complete!
MSFT status - 200, 2/503 complete!
AMZN status - 200, 3/503 complete!
NVDA status - 200, 4/503 complete!
GOOGL status - 200, 5/503 complete!
BRK-B status - 200, 6/503 complete!
GOOG status - 200, 7/503 complete!
TSLA status - 200, 8/503 complete!
UNH status - 200, 9/503 complete!
META status - 200, 10/503 complete!
XOM status - 200, 11/503 complete!
JNJ status - 200, 12/503 complete!
JPM status - 200, 13/503 complete!
V status - 200, 14/503 complete!
PG status - 200, 15/503 complete!
MA status - 200, 16/503 complete!
CVX status - 200, 17/503 complete!
HD status - 200, 18/503 complete!
LLY status - 200, 19/503 complete!
MRK status - 200, 20/503 complete!
ABBV status - 200, 21/503 complete!
AVGO status - 200, 22/503 complete!
PEP status - 200, 23/503 complete!
KO status - 200, 24/503 complete!
PFE status - 200, 25/503 complete!
TMO status - 200, 26/503 complete!
COST status - 200, 27/503 complete!
MCD status - 200, 28/503 complete!
WMT status - 200, 29/503 complete!
CSCO status - 200, 30/503 complete!
BAC status - 200, 31/503 complete!
CRM status - 200, 32/503 complete!
DIS status - 200, 33/503 complete!
ABT status - 200, 34/503 complete!
ACN status - 200, 35/503 complete!
LIN status - 200, 36/503 complete!
ADBE status - 200, 37/503 complete!
DHR status - 200, 38/503 complete!
VZ status - 200, 39/503 complete!
TXN status - 200, 40/503 complete!
CMCSA status - 200, 41/503 complete!
NKE status - 200, 42/503 complete!
NEE status - 200, 43/503 complete!
PM status - 200, 44/503 complete!
NFLX status - 200, 45/503 complete!
WFC status - 200, 46/503 complete!
BMY status - 200, 47/503 complete!
RTX status - 200, 48/503 complete!
AMD status - 200, 49/503 complete!
ORCL status - 200, 50/503 complete!

Length of info extracted is 50 in batch 1

Sleeping for 4s
T status - 200, 51/503 complete!
UPS status - 200, 52/503 complete!
QCOM status - 200, 53/503 complete!
AMGN status - 200, 54/503 complete!
COP status - 200, 55/503 complete!
INTC status - 200, 56/503 complete!
HON status - 200, 57/503 complete!
INTU status - 200, 58/503 complete!
SBUX status - 200, 59/503 complete!
LOW status - 200, 60/503 complete!
UNP status - 200, 61/503 complete!
BA status - 200, 62/503 complete!
ELV status - 200, 63/503 complete!
IBM status - 200, 64/503 complete!
CAT status - 200, 65/503 complete!
SPGI status - 200, 66/503 complete!
GS status - 200, 67/503 complete!
PLD status - 200, 68/503 complete!
MS status - 200, 69/503 complete!
LMT status - 200, 70/503 complete!
MDT status - 200, 71/503 complete!
DE status - 200, 72/503 complete!
GILD status - 200, 73/503 complete!
GE status - 200, 74/503 complete!
BKNG status - 200, 75/503 complete!
BLK status - 200, 76/503 complete!
SYK status - 200, 77/503 complete!
NOW status - 200, 78/503 complete!
AMT status - 200, 79/503 complete!
CVS status - 200, 80/503 complete!
AXP status - 200, 81/503 complete!
MDLZ status - 200, 82/503 complete!
ADI status - 200, 83/503 complete!
AMAT status - 200, 84/503 complete!
ISRG status - 200, 85/503 complete!
C status - 200, 86/503 complete!
ADP status - 200, 87/503 complete!
TJX status - 200, 88/503 complete!
REGN status - 200, 89/503 complete!
TMUS status - 200, 90/503 complete!
VRTX status - 200, 91/503 complete!
PYPL status - 200, 92/503 complete!
MMC status - 200, 93/503 complete!
CB status - 200, 94/503 complete!
ZTS status - 200, 95/503 complete!
PGR status - 200, 96/503 complete!
MO status - 200, 97/503 complete!
CI status - 200, 98/503 complete!
SO status - 200, 99/503 complete!
SCHW status - 200, 100/503 complete!

Length of info extracted is 50 in batch 2

Sleeping for 4s
DUK status - 200, 101/503 complete!
TGT status - 200, 102/503 complete!
SLB status - 200, 103/503 complete!
BSX status - 200, 104/503 complete!
FISV status - 200, 105/503 complete!
BDX status - 200, 106/503 complete!
EOG status - 200, 107/503 complete!
MU status - 200, 108/503 complete!
NOC status - 200, 109/503 complete!
CME status - 200, 110/503 complete!
LRCX status - 200, 111/503 complete!
AON status - 200, 112/503 complete!
HUM status - 200, 113/503 complete!
EQIX status - 200, 114/503 complete!
ITW status - 200, 115/503 complete!
CL status - 200, 116/503 complete!
ETN status - 200, 117/503 complete!
CSX status - 200, 118/503 complete!
APD status - 200, 119/503 complete!
WM status - 200, 120/503 complete!
FCX status - 200, 121/503 complete!
ATVI status - 200, 122/503 complete!
ICE status - 200, 123/503 complete!
CDNS status - 200, 124/503 complete!
MPC status - 200, 125/503 complete!
MMM status - 200, 126/503 complete!
EL status - 200, 127/503 complete!
SNPS status - 200, 128/503 complete!
CCI status - 200, 129/503 complete!
HCA status - 200, 130/503 complete!
ORLY status - 200, 131/503 complete!
PXD status - 200, 132/503 complete!
FDX status - 200, 133/503 complete!
SHW status - 200, 134/503 complete!
MRNA status - 200, 135/503 complete!
EW status - 200, 136/503 complete!
KLAC status - 200, 137/503 complete!
GIS status - 200, 138/503 complete!
GD status - 200, 139/503 complete!
VLO status - 200, 140/503 complete!
MCK status - 200, 141/503 complete!
PSX status - 200, 142/503 complete!
USB status - 200, 143/503 complete!
AZO status - 200, 144/503 complete!
F status - 200, 145/503 complete!
PNC status - 200, 146/503 complete!
EMR status - 200, 147/503 complete!
D status - 200, 148/503 complete!
SRE status - 200, 149/503 complete!
DG status - 200, 150/503 complete!

Length of info extracted is 50 in batch 3

Sleeping for 4s
MSI status - 200, 151/503 complete!
AEP status - 200, 152/503 complete!
GM status - 200, 153/503 complete!
PSA status - 200, 154/503 complete!
MCO status - 200, 155/503 complete!
CMG status - 200, 156/503 complete!
NSC status - 200, 157/503 complete!
OXY status - 200, 158/503 complete!
ROP status - 200, 159/503 complete!
APH status - 200, 160/503 complete!
KMB status - 200, 161/503 complete!
DXCM status - 200, 162/503 complete!
TFC status - 200, 163/503 complete!
CTVA status - 200, 164/503 complete!
ADM status - 200, 165/503 complete!
NXPI status - 200, 166/503 complete!
MAR status - 200, 167/503 complete!
FTNT status - 200, 168/503 complete!
MCHP status - 200, 169/503 complete!
MSCI status - 200, 170/503 complete!
EXC status - 200, 171/503 complete!
ADSK status - 200, 172/503 complete!
AJG status - 200, 173/503 complete!
BIIB status - 200, 174/503 complete!
A status - 200, 175/503 complete!
ECL status - 200, 176/503 complete!
PH status - 200, 177/503 complete!
HES status - 200, 178/503 complete!
ANET status - 200, 179/503 complete!
NEM status - 200, 180/503 complete!
TT status - 200, 181/503 complete!
MNST status - 200, 182/503 complete!
TEL status - 200, 183/503 complete!
TRV status - 200, 184/503 complete!
DOW status - 200, 185/503 complete!
IDXX status - 200, 186/503 complete!
CTAS status - 200, 187/503 complete!
JCI status - 200, 188/503 complete!
MET status - 200, 189/503 complete!
TDG status - 200, 190/503 complete!
XEL status - 200, 191/503 complete!
O status - 200, 192/503 complete!
LHX status - 200, 193/503 complete!
AIG status - 200, 194/503 complete!
CNC status - 200, 195/503 complete!
HLT status - 200, 196/503 complete!
HSY status - 200, 197/503 complete!
YUM status - 200, 198/503 complete!
SYY status - 200, 199/503 complete!
IQV status - 200, 200/503 complete!

Length of info extracted is 50 in batch 4

Sleeping for 4s
AFL status - 200, 201/503 complete!
PCAR status - 200, 202/503 complete!
NUE status - 200, 203/503 complete!
WMB status - 200, 204/503 complete!
CARR status - 200, 205/503 complete!
STZ status - 200, 206/503 complete!
COF status - 200, 207/503 complete!
CHTR status - 200, 208/503 complete!
ILMN status - 200, 209/503 complete!
ROST status - 200, 210/503 complete!
DVN status - 200, 211/503 complete!
SPG status - 200, 212/503 complete!
MTD status - 200, 213/503 complete!
WELL status - 200, 214/503 complete!
KMI status - 200, 215/503 complete!
PAYX status - 200, 216/503 complete!
ED status - 200, 217/503 complete!
OTIS status - 200, 218/503 complete!
BK status - 200, 219/503 complete!
EA status - 200, 220/503 complete!
FIS status - 200, 221/503 complete!
ON status - 200, 222/503 complete!
RMD status - 200, 223/503 complete!
CPRT status - 200, 224/503 complete!
VICI status - 200, 225/503 complete!
AMP status - 200, 226/503 complete!
CMI status - 200, 227/503 complete!
DD status - 200, 228/503 complete!
PPG status - 200, 229/503 complete!
AME status - 200, 230/503 complete!
ROK status - 200, 231/503 complete!
PEG status - 200, 232/503 complete!
DLTR status - 200, 233/503 complete!
CTSH status - 200, 234/503 complete!
PRU status - 200, 235/503 complete!
KHC status - 200, 236/503 complete!
WBD status - 200, 237/503 complete!
WEC status - 200, 238/503 complete!
HAL status - 200, 239/503 complete!
DHI status - 200, 240/503 complete!
KR status - 200, 241/503 complete!
VRSK status - 200, 242/503 complete!
ALL status - 200, 243/503 complete!
ODFL status - 200, 244/503 complete!
GEHC status - 200, 245/503 complete!
FAST status - 200, 246/503 complete!
OKE status - 200, 247/503 complete!
KDP status - 200, 248/503 complete!
BKR status - 200, 249/503 complete!
AWK status - 200, 250/503 complete!

Length of info extracted is 50 in batch 5

Sleeping for 4s
GWW status - 200, 251/503 complete!
APTV status - 200, 252/503 complete!
SBAC status - 200, 253/503 complete!
KEYS status - 200, 254/503 complete!
ENPH status - 200, 255/503 complete!
CSGP status - 200, 256/503 complete!
RSG status - 200, 257/503 complete!
GPN status - 200, 258/503 complete!
ANSS status - 200, 259/503 complete!
EIX status - 200, 260/503 complete!
ZBH status - 200, 261/503 complete!
ES status - 200, 262/503 complete!
STT status - 200, 263/503 complete!
WST status - 200, 264/503 complete!
ABC status - 200, 265/503 complete!
ULTA status - 200, 266/503 complete!
PCG status - 200, 267/503 complete!
DFS status - 200, 268/503 complete!
FANG status - 200, 269/503 complete!
GLW status - 200, 270/503 complete!
LEN status - 200, 271/503 complete!
DLR status - 200, 272/503 complete!
TSCO status - 200, 273/503 complete!
ACGL status - 200, 274/503 complete!
HPQ status - 200, 275/503 complete!
URI status - 200, 276/503 complete!
WBA status - 200, 277/503 complete!
CDW status - 200, 278/503 complete!
WTW status - 200, 279/503 complete!
IT status - 200, 280/503 complete!
TROW status - 200, 281/503 complete!
CEG status - 200, 282/503 complete!
ALGN status - 200, 283/503 complete!
LYB status - 200, 284/503 complete!
EFX status - 200, 285/503 complete!
IFF status - 200, 286/503 complete!
AVB status - 200, 287/503 complete!
ALB status - 200, 288/503 complete!
FTV status - 200, 289/503 complete!
EBAY status - 200, 290/503 complete!
PWR status - 200, 291/503 complete!
AEE status - 200, 292/503 complete!
GPC status - 200, 293/503 complete!
WY status - 200, 294/503 complete!
IR status - 200, 295/503 complete!
HIG status - 200, 296/503 complete!
VMC status - 200, 297/503 complete!
CBRE status - 200, 298/503 complete!
FE status - 200, 299/503 complete!
ETR status - 200, 300/503 complete!

Length of info extracted is 50 in batch 6

Sleeping for 4s
PODD status - 200, 301/503 complete!
DTE status - 200, 302/503 complete!
CHD status - 200, 303/503 complete!
BAX status - 200, 304/503 complete!
MLM status - 200, 305/503 complete!
MKC status - 200, 306/503 complete!
DAL status - 200, 307/503 complete!
MPWR status - 200, 308/503 complete!
EXR status - 200, 309/503 complete!
HOLX status - 200, 310/503 complete!
CAH status - 200, 311/503 complete!
PPL status - 200, 312/503 complete!
FSLR status - 200, 313/503 complete!
TDY status - 200, 314/503 complete!
DOV status - 200, 315/503 complete!
HPE status - 200, 316/503 complete!
LH status - 200, 317/503 complete!
EQR status - 200, 318/503 complete!
CTRA status - 200, 319/503 complete!
VRSN status - 200, 320/503 complete!
MTB status - 200, 321/503 complete!
CLX status - 200, 322/503 complete!
TTWO status - 200, 323/503 complete!
CNP status - 200, 324/503 complete!
STE status - 200, 325/503 complete!
OMC status - 200, 326/503 complete!
LUV status - 200, 327/503 complete!
XYL status - 200, 328/503 complete!
ARE status - 200, 329/503 complete!
LVS status - 200, 330/503 complete!
NDAQ status - 200, 331/503 complete!
DRI status - 200, 332/503 complete!
COO status - 200, 333/503 complete!
WAT status - 200, 334/503 complete!
NTRS status - 200, 335/503 complete!
INVH status - 200, 336/503 complete!
FITB status - 200, 337/503 complete!
WAB status - 200, 338/503 complete!
CMS status - 200, 339/503 complete!
TSN status - 200, 340/503 complete!
RJF status - 200, 341/503 complete!
CAG status - 200, 342/503 complete!
FICO status - 200, 343/503 complete!
EXPD status - 200, 344/503 complete!
CINF status - 200, 345/503 complete!
MOH status - 200, 346/503 complete!
VTR status - 200, 347/503 complete!
STLD status - 200, 348/503 complete!
K status - 200, 349/503 complete!
SWKS status - 200, 350/503 complete!

Length of info extracted is 50 in batch 7

Sleeping for 4s
PKI status - 200, 351/503 complete!
RF status - 200, 352/503 complete!
TRGP status - 200, 353/503 complete!
BR status - 200, 354/503 complete!
SEDG status - 200, 355/503 complete!
EPAM status - 200, 356/503 complete!
AES status - 200, 357/503 complete!
PFG status - 200, 358/503 complete!
MAA status - 200, 359/503 complete!
NVR status - 200, 360/503 complete!
AMCR status - 200, 361/503 complete!
IEX status - 200, 362/503 complete!
SJM status - 200, 363/503 complete!
ATO status - 200, 364/503 complete!
MRO status - 200, 365/503 complete!
DGX status - 200, 366/503 complete!
BALL status - 200, 367/503 complete!
HBAN status - 200, 368/503 complete!
FLT status - 200, 369/503 complete!
HWM status - 200, 370/503 complete!
FDS status - 200, 371/503 complete!
TER status - 200, 372/503 complete!
MOS status - 200, 373/503 complete!
ZBRA status - 200, 374/503 complete!
LW status - 200, 375/503 complete!
IRM status - 200, 376/503 complete!
FMC status - 200, 377/503 complete!
GRMN status - 200, 378/503 complete!
TYL status - 200, 379/503 complete!
CF status - 200, 380/503 complete!
J status - 200, 381/503 complete!
IPG status - 200, 382/503 complete!
PAYC status - 200, 383/503 complete!
BBY status - 200, 384/503 complete!
AVY status - 200, 385/503 complete!
NTAP status - 200, 386/503 complete!
JBHT status - 200, 387/503 complete!
CFG status - 200, 388/503 complete!
TXT status - 200, 389/503 complete!
RE status - 200, 390/503 complete!
EVRG status - 200, 391/503 complete!
CBOE status - 200, 392/503 complete!
LKQ status - 200, 393/503 complete!
BG status - 200, 394/503 complete!
INCY status - 200, 395/503 complete!
MGM status - 200, 396/503 complete!
BRO status - 200, 397/503 complete!
LNT status - 200, 398/503 complete!
UAL status - 200, 399/503 complete!
PTC status - 200, 400/503 complete!

Length of info extracted is 50 in batch 8

Sleeping for 4s
PHM status - 200, 401/503 complete!
EXPE status - 200, 402/503 complete!
ESS status - 200, 403/503 complete!
RCL status - 200, 404/503 complete!
PKG status - 200, 405/503 complete!
POOL status - 200, 406/503 complete!
APA status - 200, 407/503 complete!
TECH status - 200, 408/503 complete!
AKAM status - 200, 409/503 complete!
IP status - 200, 410/503 complete!
SYF status - 200, 411/503 complete!
MKTX status - 200, 412/503 complete!
WRB status - 200, 413/503 complete!
SNA status - 200, 414/503 complete!
STX status - 200, 415/503 complete!
ETSY status - 200, 416/503 complete!
LDOS status - 200, 417/503 complete!
TRMB status - 200, 418/503 complete!
TFX status - 200, 419/503 complete!
UDR status - 200, 420/503 complete!
VTRS status - 200, 421/503 complete!
EQT status - 200, 422/503 complete!
DPZ status - 200, 423/503 complete!
WDC status - 200, 424/503 complete!
NDSN status - 200, 425/503 complete!
PEAK status - 200, 426/503 complete!
HST status - 200, 427/503 complete!
SWK status - 200, 428/503 complete!
HRL status - 200, 429/503 complete!
JKHY status - 200, 430/503 complete!
WYNN status - 200, 431/503 complete!
KIM status - 200, 432/503 complete!
KEY status - 200, 433/503 complete!
CPT status - 200, 434/503 complete!
BWA status - 200, 435/503 complete!
NI status - 200, 436/503 complete!
CTLT status - 200, 437/503 complete!
BF-B status - 200, 438/503 complete!
CHRW status - 200, 439/503 complete!
HSIC status - 200, 440/503 complete!
CPB status - 200, 441/503 complete!
PARA status - 200, 442/503 complete!
KMX status - 200, 443/503 complete!
CE status - 200, 444/503 complete!
L status - 200, 445/503 complete!
MAS status - 200, 446/503 complete!
JNPR status - 200, 447/503 complete!
TAP status - 200, 448/503 complete!
CRL status - 200, 449/503 complete!
FOXA status - 200, 450/503 complete!

Length of info extracted is 50 in batch 9

Sleeping for 4s
CDAY status - 200, 451/503 complete!
BIO status - 200, 452/503 complete!
GEN status - 200, 453/503 complete!
TPR status - 200, 454/503 complete!
MTCH status - 200, 455/503 complete!
EMN status - 200, 456/503 complete!
LYV status - 200, 457/503 complete!
CCL status - 200, 458/503 complete!
GL status - 200, 459/503 complete!
QRVO status - 200, 460/503 complete!
CZR status - 200, 461/503 complete!
REG status - 200, 462/503 complete!
ROL status - 200, 463/503 complete!
ALLE status - 200, 464/503 complete!
PNW status - 200, 465/503 complete!
XRAY status - 200, 466/503 complete!
PNR status - 200, 467/503 complete!
UHS status - 200, 468/503 complete!
FFIV status - 200, 469/503 complete!
AOS status - 200, 470/503 complete!
AAL status - 200, 471/503 complete!
NRG status - 200, 472/503 complete!
HII status - 200, 473/503 complete!
RHI status - 200, 474/503 complete!
BBWI status - 200, 475/503 complete!
BEN status - 200, 476/503 complete!
WRK status - 200, 477/503 complete!
IVZ status - 200, 478/503 complete!
AAP status - 200, 479/503 complete!
WHR status - 200, 480/503 complete!
BXP status - 200, 481/503 complete!
VFC status - 200, 482/503 complete!
FRT status - 200, 483/503 complete!
SEE status - 200, 484/503 complete!
NWSA status - 200, 485/503 complete!
HAS status - 200, 486/503 complete!
GNRC status - 200, 487/503 complete!
AIZ status - 200, 488/503 complete!
OGN status - 200, 489/503 complete!
DXC status - 200, 490/503 complete!
CMA status - 200, 491/503 complete!
NCLH status - 200, 492/503 complete!
ALK status - 200, 493/503 complete!
MHK status - 200, 494/503 complete!
RL status - 200, 495/503 complete!
DVA status - 200, 496/503 complete!
ZION status - 200, 497/503 complete!
NWL status - 200, 498/503 complete!
FOX status - 200, 499/503 complete!
LNC status - 200, 500/503 complete!

Length of info extracted is 50 in batch 10

Sleeping for 4s
FRC status - 200, 501/503 complete!
NWS status - 200, 502/503 complete!
DISH status - 200, 503/503 complete!
Length of info extracted is 3 in batch 11
Elapsed time was 0:26:49.277571

,Ticker,Market Cap (B),Enterprise Value (B),Trailing P/E,Forward P/E,PEG Ratio (5 yr expected),Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue,Enterprise Value/EBITDA,...,Total Debt/Equity (mrq),Current Ratio (mrq),Book Value Per Share (mrq),Operating Cash Flow (ttm) (B),Levered Free Cash Flow (ttm) (B),Dividend Date,Ex-Dividend Date,Last Split Date,Fiscal Year Ends,Most Recent Quarter (mrq)
0,AAPL,2540.00,2600.00,27.30,27.17,2.72,6.72,44.85,6.72,20.34,...,195.87,0.94,3.58,109.19,84.73,2023-02-15,2023-02-09,2020-08-30,2022-09-23,2022-12-30
1,MSFT,2110.00,2070.00,31.43,26.11,2.13,10.39,11.50,10.12,20.92,...,42.58,1.93,24.59,84.39,44.61,2023-06-07,2023-05-16,2003-02-17,2022-06-29,2022-12-30
2,AMZN,1020.00,1090.00,0.00,58.82,2.12,1.98,7.01,2.13,28.53,...,116.36,0.94,14.26,46.75,0.01,NaN,NaN,2022-06-05,2022-12-30,2022-12-30
3,NVDA,671.07,669.81,156.14,60.24,3.38,25.25,30.36,24.83,111.88,...,54.44,3.52,8.96,5.64,4.53,2023-03-28,2023-03-06,2021-07-19,2023-01-28,2023-01-28
4,GOOGL,1350.00,1270.00,23.10,19.49,1.15,4.90,5.27,4.49,14.49,...,11.70,2.38,19.93,91.49,52.53,NaN,NaN,2022-07-17,2022-12-30,2022-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,FOX,17.63,21.79,11.57,10.18,2.34,1.22,1.45,1.53,7.59,...,69.21,3.37,21.65,2.28,1.86,2023-03-28,2023-02-27,NaN,2022-06-29,2022-12-30
499,LNC,3.57,7.67,0.00,2.50,0.00,0.19,1.15,0.41,0.00,...,193.22,3.17,18.41,4.03,2.23,2023-04-30,2023-04-05,1999-06-21,2022-12-30,2022-12-30
500,FRC,2.63,0.00,1.71,11.98,2.92,0.45,0.19,0.00,0.00,...,0.00,0.00,75.38,0.25,0.00,2023-02-08,2023-01-24,NaN,2022-12-30,2022-12-30
501,NWS,10.13,13.03,34.75,22.52,19.40,1.02,1.25,1.28,10.99,...,46.69,1.28,14.10,1.08,0.61,2023-04-11,2023-03-13,2010-11-15,2022-06-29,2022-12-30
502,DISH,4.74,26.15,2.47,10.02,12.84,0.34,0.26,1.57,6.80,...,131.63,0.76,33.78,3.09,-8.83,2012-12-27,2012-12-11,2000-03-22,2022-12-30,2022-12-30

In [41]:
filename = input("Enter filename to save as: ")
if filename == '':
    filename = 'portfolio'
current_date = date.today().isoformat()
final_df.to_csv(f'data/{filename}_{current_date}.csv')
print(f'Saved to file: {filename}_{current_date}.csv')

Saved to file: s&p_2023-04-16.csv

In [45]:
import mysql.connector
import json

def get_value_from_json(json_file, key, sub_key=None):
   '''
   Function to read the json file for our app secret key
   '''
   try:
       with open(json_file) as f:
           data = json.load(f)
           if sub_key:
               return data[key][sub_key]
           else:
               return data[key]
   except Exception as e:
       print("Error: ", e)

config = get_value_from_json("data/secrets.json", "mysql_connector")

# Connect to server on localhost
try:
    cnx = mysql.connector.connect(**config)
    print('Connected to database')
    cur = cnx.cursor()
    insert_query = "INSERT IGNORE INTO companies (Ticker, Name) VALUES (%s, %s)"
    for index, row in ticker_df.iterrows():
        try:
            data = (row['Ticker'], row['Name'].strip())
            #print(f'Inserting {data}', end = ' ')
            cur.execute(insert_query, data)
            cnx.commit()
            #print('Done')
        except mysql.connector.Error as err:
            print(err)
except mysql.connector.Error as err:
    print(err)
finally:
    print('Completed')
    cur.close()
    cnx.close()

Connected to database
1062: Duplicate entry 'AAPL' for key 'PRIMARY'
1062: Duplicate entry 'MSFT' for key 'PRIMARY'
1062: Duplicate entry 'AMZN' for key 'PRIMARY'
1062: Duplicate entry 'NVDA' for key 'PRIMARY'
1062: Duplicate entry 'GOOG' for key 'PRIMARY'
1062: Duplicate entry 'TSLA' for key 'PRIMARY'
1062: Duplicate entry 'CDNS' for key 'PRIMARY'
1062: Duplicate entry 'MRNA' for key 'PRIMARY'
1062: Duplicate entry 'IDXX' for key 'PRIMARY'
Completed

In [46]:
try:
    cnx = mysql.connector.connect(**config)
    print('Connected to database')
    cur = cnx.cursor()
    insert_query = '''INSERT IGNORE INTO statistics (Ticker, `Market Cap (B)`, `Enterprise Value (B)`, `Trailing P/E`,
       `Forward P/E`, `PEG Ratio (5 yr expected)`, `Price/Sales (ttm)`,
       `Price/Book (mrq)`, `Enterprise Value/Revenue`,
       `Enterprise Value/EBITDA`, `Beta (5Y Monthly)`, `52 Week Change (%)`,
       `S&P500 52-Week Change (%)`, `52 Week High`, `52 Week Low`,
       `50-Day Moving Average`, `200-Day Moving Average`,
       `Avg Vol 3 month (M)`, `Avg Vol 10 day (M)`, `Shares Outstanding`,
       `Implied Shares Outstanding`, `Float`, `% Held by Insiders`,
       `% Held by Institutions`, `Shares Short (M)`, `Short Ratio (M)`,
       `Short % of Float`, `Short % of Shares Outstanding`, `Shares Short`,
       `Forward Annual Dividend Rate`, `Forward Annual Dividend Yield (%)`,
       `Trailing Annual Dividend Rate`, `Trailing Annual Dividend Yield (%)`,
       `5 Year Average Dividend Yield`, `Payout Ratio (%)`,
       `Last Split Factor (x:1)`, `Profit Margin (%)`,
       `Operating Margin (ttm) (%)`, `Return on Assets (ttm) (%)`,
       `Return on Equity (ttm) (%)`, `Revenue (ttm) (B)`,
       `Revenue Per Share (ttm)`, `Quarterly Revenue Growth (yoy) (%)`,
       `Gross Profit (ttm) (B)`, `EBITDA (B)`,
       `Net Income Avi to Common (ttm) (B)`, `Diluted EPS (ttm)`,
       `Quarterly Earnings Growth (yoy) (%)`, `Total Cash (mrq) (B)`,
       `Total Cash Per Share (mrq)`, `Total Debt (mrq) (B)`,
       `Total Debt/Equity (mrq)`, `Current Ratio (mrq)`,
       `Book Value Per Share (mrq)`, `Operating Cash Flow (ttm) (B)`,
       `Levered Free Cash Flow (ttm) (B)`, `Dividend Date`, `Ex-Dividend Date`,
       `Last Split Date`, `Fiscal Year Ends`, `Most Recent Quarter (mrq)`) 
       VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s)'''
    for index, row in final_df.iterrows():
        try:
            data = (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], 
                row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], 
                row[19], row[20], row[21], row[22], row[23], row[24], row[25], row[26], row[27], 
                row[28], row[29], row[30], row[31], row[32], row[33], row[34], row[35], row[36], 
                row[37], row[38], row[39], row[40], row[41], row[42], row[43], row[44], row[45], 
                row[46], row[47], row[48], row[49], row[50], row[51], row[52], row[53], row[54], 
                row[55], row[56], row[57], row[58], row[59], row[60])
            #print(f'Inserting {data}', end = ' ')
            cur.execute(insert_query, data)
            cnx.commit()
            #print('Done')
        except mysql.connector.Error as err:
            print(err)

except mysql.connector.Error as err:
    print(err)
finally:
    print('Completed')
    cur.close()
    cnx.close()

Connected to database
1062: Duplicate entry '2023-04-16-AAPL' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MSFT' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-AMZN' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-NVDA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-GOOG' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-TSLA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-CDNS' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MRNA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-IDXX' for key 'PRIMARY'
Completed