In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import date
from datetime import datetime
import time
import requests
import requests_cache
import re


#headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'}
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
    'Accept-Language': 'en-US,en;q=0.5',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Upgrade-Insecure-Requests': '1'
}
requests_cache.install_cache('yahoo_cache')

<h1>Part 1 - S&P and portfolio web scraper</h1>
<h2>Introduction</h2>
<p>The Standard and Poor's 500, or simply the S&P 500, is a stock market index tracking the stock performance of 500 large companies listed on stock exchanges in the United States. Having consisting of 11 different sectors and over 500 different companies, the index can be used as a benchmark for a basic stock portfolio diversification in the US stock marker. It is one of the most commonly followed equity indices.</p>
    
<p>This script scraps data from the yahoo finance statistics page.</p>
<img src="sample.JPG">
<p>Two sets of data are in focus</p>
<ol>
    <li>The S&P index constituents.</li>
    <li>One's portfolio</li>
    </ol>

## Item 1 - Function Definitions
<h3>Getting updated S&P tickers from slickcharts website</h3>

In [2]:
def scrap_SnP_tickers(url='https://www.slickcharts.com/sp500', tableclass="table-responsive"):
    '''
    Function to scrap the latest S&P data from a website containing S&P data
    Input:
        url = website url
        tableclass = name of tableclass containing the data
    '''
    resp = requests.get(url, headers = headers)
    soup = BeautifulSoup(resp.text, "html.parser")
    table = soup.find(class_ = tableclass)

    table_head = table.find('thead')
    header_list = []
    ths = table_head.find_all('th')
    for th in ths:
        header_list.append(th.text.strip())

    table_body = table.find('tbody')

    rows = table_body.find_all('tr')
    sp_data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        sp_data.append([ele for ele in cols if ele]) # Get rid of empty values

    sp_df = pd.DataFrame(np.array(sp_data))
    sp_df.columns = header_list
    sp_df = sp_df.drop('#', axis=1)
    sp_df['Symbol'].replace(regex={r'[\.]': '-'}, inplace=True) #tickers need to have - instead of . for proper search on yahoo
    tickers = sp_df['Symbol'].tolist()
    print(f'Number of S&P constituent tickers = {len(tickers)}')
    display(sp_df.head())
    return sp_df, tickers

<h3>Retrieving headers of yahoo finance stats page (Optional)</h3>

In [3]:
def get_yf_headers(ticker_sample): #ticker_sample is any ticker(str) for the purpose of retrieving the headers
    #Getting headers
    url = f'https://finance.yahoo.com/quote/{ticker_sample}/key-statistics?p={ticker_sample}'
    resp = requests.get(url, headers = headers)
    print(f'Using {ticker_sample} for headers, status - {resp.status_code}')
    soup = BeautifulSoup(resp.text, "html.parser")

    titles = ['Ticker']
    rows = soup.find_all("tr")
    for row in rows:
        cols = row.find_all("td")
        ele = cols[0].text.strip() 
        titles.append(ele)

    metrics_df = pd.DataFrame({"Metrics":titles})
    metrics_df['Metrics'].replace(regex={r'[0-9]$': ''}, inplace = True) #removes the annotations appearing at the end of rows
    metrics_df.iloc[24:29,0].replace(regex={r'(\(.+\))': ''}, inplace = True) #remove the dates under rows 24-28
    metrics = metrics_df['Metrics'].tolist()
    print(f'Extraction of headers complete! Total metric columns = {len(metrics)}')
    return metrics

<h3>Renaming the headers manually to indicate units clearly</h3>

In [4]:
metrics = ['Name',
 'Market Cap (B)',
 'Enterprise Value (B)',
 'Trailing P/E',
 'Forward P/E',
 'PEG Ratio (5 yr expected)',
 'Price/Sales (ttm)',
 'Price/Book (mrq)',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Beta (5Y Monthly)',
 '52 Week Change (%)',
 'S&P500 52-Week Change (%)',
 '52 Week High',
 '52 Week Low',
 '50-Day Moving Average',
 '200-Day Moving Average',
 'Avg Vol 3 month (M)',
 'Avg Vol 10 day (M)',
 'Shares Outstanding',
 'Implied Shares Outstanding',
 'Float',
 '% Held by Insiders',
 '% Held by Institutions',
 'Shares Short (M)',
 'Short Ratio (M)',
 'Short % of Float',
 'Short % of Shares Outstanding',
 'Shares Short',
 'Forward Annual Dividend Rate',
 'Forward Annual Dividend Yield (%)',
 'Trailing Annual Dividend Rate',
 'Trailing Annual Dividend Yield (%)',
 '5 Year Average Dividend Yield',
 'Payout Ratio (%)',
 'Dividend Date',
 'Ex-Dividend Date',
 'Last Split Factor (x:1)',
 'Last Split Date',
 'Fiscal Year Ends',
 'Most Recent Quarter (mrq)',
 'Profit Margin (%)',
 'Operating Margin (ttm) (%)',
 'Return on Assets (ttm) (%)',
 'Return on Equity (ttm) (%)',
 'Revenue (ttm) (B)',
 'Revenue Per Share (ttm)',
 'Quarterly Revenue Growth (yoy) (%)',
 'Gross Profit (ttm) (B)',
 'EBITDA (B)',
 'Net Income Avi to Common (ttm) (B)',
 'Diluted EPS (ttm)',
 'Quarterly Earnings Growth (yoy) (%)',
 'Total Cash (mrq) (B)',
 'Total Cash Per Share (mrq)',
 'Total Debt (mrq) (B)',
 'Total Debt/Equity (mrq)',
 'Current Ratio (mrq)',
 'Book Value Per Share (mrq)',
 'Operating Cash Flow (ttm) (B)',
 'Levered Free Cash Flow (ttm) (B)']

#for visually checking if the list referencing is correct
#temp = get_yf_headers('AAPL')
#test = pd.DataFrame({'Old':temp, 'new':metrics})
#test.iloc[0:60,:]

### Scraping and casting ticker stats into 2D list

In [5]:
def scrap_ticker(tickers, data_dict, sleeptime=2, batch_interval=50):  
    '''
    Function take takes in a list of tickers and scraps the yahoo stats into a dictionary.
    Input:
        tickers : list of tickers
        all_data : dictionary to update with the scrapped data, should be created outside the function
        sleeptime : time to sleep between scraps
        batch_interval : number of scraps before a longer rest
        '''
    
    start_time = datetime.now()
    
    #check if there is any existing data in all_data (dictionary), if yes, assigns this run to the next batch number
    if data_dict:
        batch_number = max(data_dict.keys())+1
        print(f'Batch number: {batch_number}')
    else:
        batch_number = 1
    
    #initialize the batch_count, and wait_counter (for increasing waits between failed scraps)
    batch_count = 0
    wait_counter = 1

    #initialize list for collecting batch data and list for collecting tickers with errors
    batch_data = []
    missed_tickers=[]
    
    try:
        for count, ticker in enumerate(tickers):
            url = f'https://finance.yahoo.com/quote/{ticker}/key-statistics?p={ticker}'
            resp = requests.get(url, headers = headers)
            print(f'{ticker} status - {resp.status_code}, {count+1}/{len(tickers)}', end=' ')
            soup = BeautifulSoup(resp.text, "html.parser")
            
            title = soup.find("h1")
            data= [title.text]
            
            rows = soup.find_all("tr")
            for row in rows:
                cols = row.find_all("td")
                ele = cols[1].text.strip()
                data.append(ele)
            
            #to account for errors in the extraction length or data
            if len(data)!=len(metrics) or data[1] == 'N/A':
                if len(data)!=len(metrics):
                    print(f'length error({len(data)} instead of {len(metrics)}) in {ticker}')
                elif data[1] == 'N/A':
                    print(f'N/A found in Marketcap of {ticker}')
                missed_tickers.append(ticker)
                print(f'Sleeping for {sleeptime*2*wait_counter}s')
                time.sleep(sleeptime*2*wait_counter)
                wait_counter +=1
            else:
                batch_data.append(data)
                print(f'complete!')
                batch_count +=1
                time.sleep(sleeptime)

            #code to sleep after a batch
            if batch_count == batch_interval:
                data_dict[batch_number] = pd.DataFrame(np.array(batch_data))
                print(f'\nLength of info extracted is {len(batch_data)} in batch {batch_number} \n')
                batch_count = 0
                batch_number +=1
                batch_data = []
                print(f'Sleeping for {sleeptime*2}s')
                time.sleep(sleeptime*2)
    except Exception as e:
        print(e)
    finally:
        #the final appending for last batch with n smaller than 50
        data_dict[batch_number] = pd.DataFrame(np.array(batch_data))
        print(f'Length of info extracted is {len(batch_data)} in batch {batch_number}')
        end_time = datetime.now()
        print('Elapsed time was', (end_time - start_time))
        print()
        return missed_tickers

In [6]:
def rescrap_missed(missed_tickers, data_dict, max_tries=5):
    '''
    Extracts tickers that had errors/incomplete info
    Input:
        list of missed_tickers
        max_tries (int) default 5
        user_prompt (boolean) prompt to continue if max_tries exceeeded 
    '''
    count = 0
    while missed_tickers:
        print(f'Extracting missed tickers: Attempt {count+1}')
        temp = missed_tickers.copy()
        missed_tickers = scrap_ticker(temp, data_dict, sleeptime=2)
        count +=1
        if count >= max_tries:
            break
    print('Unresolved tickers:', missed_tickers)
    return missed_tickers

<h3>Casting the dataframe and cleaning all the data</h3>

In [7]:
def clean_df(all_data, metrics, display_progress=False, market_indices=np.nan):
    '''
    Function to cast and clean the dataframe via the following:
    1. Cast dictionary(all_data) into a pandas dataframe
    2. Format strings into numbers according (large number format)
    3. Clean stocksplit ratios 
    4. Recast dates into datetime format

    Inputs:
    all_data : Dictionary - scrapped data 
    metrics : List - column headers 
    display_progress: Boolean - to show processes
    market_indices : String - the index that the companies belong to (eg. S&P, Nasdaq)
    '''
    #Casting the dataframe
    frames = [all_data[x] for x in all_data]
    all_data_df = pd.concat(frames)
    all_data_df.columns = metrics

    # Save the name list first to ensure correct order of tickers scrapped
    # Split the name into company name and ticker

    def extract_tickers(name):
        ticker_symbol = re.findall('\(([a-zA-Z\-]+)\)', name)
        try:
            # Check for accidental extractions
            if len(ticker_symbol)>1:
                index = -1
            else:
                index = 0
            return ticker_symbol[index]
        except IndexError:
            print(f'No ticker found for company: {name}')
            return np.nan

    all_data_tickers = all_data_df['Name'].apply(extract_tickers)
    all_data_name = all_data_df['Name'].apply(lambda x: x.split('(')[0])


    if display_progress:
        print('Casting data, index and columns to build the dataframe')
        display(all_data_df.head()) 

    def _num_reformat(x):
        '''
        Reformats large sums (Billion, million, thousand) and removing (%,) values
        Casts numerical values into float type
        '''
        x = re.sub("[,]", "", x)
        if x[-1] == 'T':
            x = round(float(x[:-1])*1000,2)
        elif x[-1] == 'B':
            x = round(float(x[:-1]),2)
        elif x[-1] == 'M':
            x = round(float(x[:-1])*0.001,2)
        elif x[-1] == 'k':
            x = round(float(x[:-1])*0.000001,2)
        elif x[-1] == '%':
            x = round(float(x[:-1]),2)             
        elif x == "N/A":
            x = 0
        return x

    cleaned_df = all_data_df.iloc[:,1:].applymap(_num_reformat)

    # Insert back columns for progress display
    cleaned_df.insert(0, 'Name', all_data_name)
    if display_progress:
        print('Reformatting large sums (Billion, million, thousand) and removing (%,) values')
        display(cleaned_df.head())
    
    def _stocksplits(x):
        '''
        Changes split factors into x:1 whole ratios
        '''
        if type(x)==str:
            x = x.split(':')
            return round(int(x[0])/ int(x[1]),2)
        else:
            return x
    
    cleaned_df['Last Split Factor (x:1)'] = cleaned_df['Last Split Factor (x:1)'].apply(_stocksplits)
    if display_progress:
        print('Handling the stock split factor column')
        display(cleaned_df.iloc[:,[0,37]].head())
    
    
    
    def _date_conversion(x):
        '''
        Converts dates int datetime format at the end of the dataframe
        '''
        if x == 0:
            return np.nan
        else:
            x = str(x)
            return datetime.strptime(x, '%b %d %Y').date()

    # Slicing columns which should be dates
    dates = cleaned_df.iloc[:,[35, 36, 38, 39, 40]]
    dates = dates.applymap(_date_conversion)
    dates = dates.replace({0:np.nan})

    if display_progress:
        print('Converting dates to datetime format')
        display(dates.head())

    # Drop the old date columns, add datetime columns and add back all ticker & company names
    final_df = cleaned_df.drop(cleaned_df.columns[[0, 35, 36, 38, 39, 40]], axis = 1).astype('float64')
    final_df = pd.concat([final_df, dates], axis = 1)
    final_df.insert(0, 'Ticker', all_data_tickers)
    ticker_df = pd.concat([all_data_tickers, all_data_name], axis=1)
    ticker_df.columns = ['ticker', 'name']
    ticker_df['index'] = market_indices
    
    if display_progress:
        print('Final_df cleaned')
        display(final_df.head())
    
    #return the completed pandas dataframe
    return final_df, ticker_df

## Option 1 - S&P data

In [8]:
sp_df, tickers = scrap_SnP_tickers()
market_indices = 'S&P500'

Number of S&P constituent tickers = 503

                 Company Symbol    Weight   Price    Chg     % Chg
0             Apple Inc.   AAPL  7.104214  164.97  -0.59  (-0.35%)
1  Microsoft Corporation   MSFT  6.224815  286.50  -3.34  (-1.15%)
2        Amazon.com Inc.   AMZN  2.633905  102.72   0.32   (0.32%)
3     NVIDIA Corporation   NVDA  1.878221  267.32   2.69   (1.02%)
4  Alphabet Inc. Class A  GOOGL  1.846088  108.93   1.50   (1.40%)

## Option 2 - Personal portfolio data

In [15]:
input_tickers = pd.read_csv('portfolio_tickers.csv') #input file with a list of portfolio tickers
tickers = input_tickers['Tickers'].tolist()
market_indices = np.nan

### Run code

In [16]:
scrapped_data = {}

try:
    missed_tickers = scrap_ticker(tickers, data_dict=scrapped_data, sleeptime=2, batch_interval=50)
    if missed_tickers:
        missed_tickers = rescrap_missed(missed_tickers, data_dict=scrapped_data, max_tries=2)
except Exception as e:
    print(e)
finally:
    final_df, ticker_df = clean_df(scrapped_data, metrics, display_progress=False, market_indices=market_indices)
    final_df.reset_index(drop=True, inplace=True)
final_df

TSLA status - 200, 1/37 complete!
TTD status - 200, 2/37 complete!
NVDA status - 200, 3/37 complete!
GOOG status - 200, 4/37 complete!
CRWD status - 200, 5/37 complete!
AMZN status - 200, 6/37 complete!
IDXX status - 200, 7/37 complete!
MELI status - 200, 8/37 complete!
ABNB status - 200, 9/37 complete!
ZS status - 200, 10/37 complete!
ASML status - 200, 11/37 complete!
SE status - 200, 12/37 complete!
AXON status - 200, 13/37 complete!
TEAM status - 200, 14/37 complete!
LULU status - 200, 15/37 complete!
SNOW status - 200, 16/37 complete!
NET status - 200, 17/37 complete!
HUBS status - 200, 18/37 complete!
DDOG status - 200, 19/37 complete!
DOCN status - 200, 20/37 complete!
U status - 200, 21/37 complete!
SEMR status - 200, 22/37 complete!
LMND status - 200, 23/37 complete!
ZM status - 200, 24/37 complete!
CDNS status - 200, 25/37 complete!
PINS status - 200, 26/37 complete!
MDB status - 200, 27/37 complete!
MRNA status - 200, 28/37 complete!
ROKU status - 200, 29/37 complete!
GLBE status - 200, 30/37 complete!
ASAN status - 200, 31/37 complete!
UPST status - 200, 32/37 complete!
TWLO status - 200, 33/37 complete!
CRSP status - 200, 34/37 complete!
APPN status - 200, 35/37 complete!
NNOX status - 200, 36/37 complete!
SHOP status - 200, 37/37 complete!
Length of info extracted is 37 in batch 1
Elapsed time was 0:01:19.016259

,Ticker,Market Cap (B),Enterprise Value (B),Trailing P/E,Forward P/E,PEG Ratio (5 yr expected),Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue,Enterprise Value/EBITDA,...,Total Debt/Equity (mrq),Current Ratio (mrq),Book Value Per Share (mrq),Operating Cash Flow (ttm) (B),Levered Free Cash Flow (ttm) (B),Dividend Date,Ex-Dividend Date,Last Split Date,Fiscal Year Ends,Most Recent Quarter (mrq)
0,TSLA,592.00,575.56,51.60,47.85,1.67,7.97,13.24,7.07,32.60,...,12.52,1.53,14.13,14.72,4.21,NaN,NaN,2022-08-24,2022-12-30,2022-12-30
1,TTD,30.19,29.00,559.18,58.14,3.23,19.49,14.27,18.38,172.56,...,12.34,1.89,4.31,0.55,0.49,NaN,NaN,2021-06-16,2022-12-30,2022-12-30
2,NVDA,671.07,669.81,156.14,60.24,3.38,25.25,30.36,24.83,111.88,...,54.44,3.52,8.96,5.64,4.53,2023-03-28,2023-03-06,2021-07-19,2023-01-28,2023-01-28
3,GOOG,1350.00,1270.00,23.27,19.65,1.16,4.94,5.31,4.49,14.49,...,11.70,2.38,19.93,91.49,52.53,NaN,NaN,2022-07-17,2022-12-30,2022-12-30
4,CRWD,30.63,28.71,0.00,56.50,1.74,13.51,20.93,12.81,-704.41,...,52.68,1.73,6.21,0.94,0.73,NaN,NaN,NaN,2023-01-30,2023-01-30
5,AMZN,1020.00,1090.00,0.00,58.82,2.12,1.98,7.01,2.13,28.53,...,116.36,0.94,14.26,46.75,0.01,NaN,NaN,2022-06-05,2022-12-30,2022-12-30
6,IDXX,39.67,41.03,59.54,54.95,5.38,12.01,65.17,12.18,40.55,...,241.49,0.89,7.34,0.54,0.33,NaN,NaN,2015-06-15,2022-12-30,2022-12-30
7,MELI,64.58,66.97,134.84,91.74,2.25,6.26,35.35,6.36,44.53,...,297.15,1.28,36.35,2.94,-0.23,2018-01-15,2017-12-27,NaN,2022-12-30,2022-12-30
8,ABNB,72.13,64.85,40.95,31.75,1.59,9.25,12.97,7.72,30.97,...,42.10,1.86,8.81,3.43,2.60,NaN,NaN,NaN,2022-12-30,2022-12-30
9,ZS,15.38,14.69,0.00,54.35,1.13,11.24,29.09,10.90,-63.90,...,230.00,2.01,3.64,0.40,0.49,NaN,NaN,NaN,2022-07-30,2023-01-30
10,ASML,261.87,258.49,42.79,31.65,1.52,11.36,27.08,12.21,36.40,...,53.16,1.28,0.40,8.49,3.63,2023-05-09,2023-04-30,2007-09-30,2022-12-30,2022-12-30
11,SE,46.49,44.10,0.00,181.82,0.00,3.68,8.13,3.54,-42.95,...,77.19,1.83,10.20,-1.06,-1.69,2017-02-28,NaN,NaN,2022-12-30,2022-12-30
12,AXON,16.19,15.93,109.47,63.69,0.00,13.55,12.76,13.39,135.40,...,59.49,3.00,17.75,0.24,0.16,NaN,NaN,2004-11-29,2022-12-30,2022-12-30
13,TEAM,40.63,40.27,0.00,81.30,3.73,12.70,70.36,12.66,-290.43,...,225.77,1.30,2.25,0.86,1.01,NaN,NaN,NaN,2022-06-29,2022-12-30
14,LULU,46.52,46.43,54.76,31.75,1.71,5.77,14.77,5.73,23.01,...,33.99,2.12,24.73,0.97,0.23,NaN,NaN,2011-07-11,2023-01-28,2023-01-28
15,SNOW,45.24,41.48,0.00,217.39,3.99,21.48,8.29,20.08,-53.27,...,4.60,2.50,16.88,0.55,0.77,NaN,NaN,NaN,2023-01-30,2023-01-30
16,NET,20.05,19.98,0.00,370.37,5.67,20.31,32.13,20.49,-239.50,...,252.75,4.74,1.89,0.12,0.07,NaN,NaN,NaN,2022-12-30,2022-12-30
17,HUBS,20.19,19.59,0.00,95.24,2.91,11.35,20.35,11.32,-457.87,...,81.27,2.30,20.16,0.27,0.24,NaN,NaN,NaN,2022-12-30,2022-12-30
18,DDOG,20.75,19.70,0.00,62.11,1.51,12.21,14.71,11.76,0.00,...,59.38,3.09,4.42,0.42,0.40,NaN,NaN,NaN,2022-12-30,2022-12-30
19,DOCN,3.53,4.30,0.00,22.12,0.00,6.36,69.04,7.46,49.86,...,3202.57,5.76,0.53,0.20,0.10,NaN,NaN,NaN,2022-12-30,2022-12-30
20,U,11.54,12.66,0.00,107.53,0.00,6.88,3.27,9.10,-19.09,...,75.90,2.34,9.43,-0.06,0.18,NaN,NaN,NaN,2022-12-30,2022-12-30
21,SEMR,1.45,1.22,0.00,0.00,0.00,5.67,7.24,4.80,-66.20,...,6.31,2.90,1.41,-0.01,0.01,NaN,NaN,NaN,2022-12-30,2022-12-30
22,LMND,0.98,0.73,0.00,0.00,0.00,3.57,1.13,2.85,0.00,...,4.06,1.31,12.51,-0.16,0.04,NaN,NaN,NaN,2022-12-30,2022-12-30
23,ZM,20.57,15.25,205.88,16.89,2.62,4.85,3.31,3.47,46.54,...,1.55,3.66,21.12,1.29,1.64,NaN,NaN,NaN,2023-01-30,2023-01-30
24,CDNS,58.44,58.44,69.22,43.10,3.31,16.52,21.29,16.41,48.55,...,33.67,1.27,10.07,1.24,1.01,NaN,NaN,1997-11-16,2022-12-30,2022-12-30
25,PINS,19.28,16.81,228.94,40.82,0.00,6.70,5.87,6.00,-693.30,...,6.98,9.08,4.80,0.47,0.52,NaN,NaN,NaN,2022-12-30,2022-12-30
26,MDB,14.81,14.16,0.00,204.08,2.82,11.31,20.03,11.03,-48.13,...,166.87,3.80,10.58,-0.01,0.14,NaN,NaN,NaN,2023-01-30,2023-01-30
27,MRNA,59.88,51.17,7.72,0.00,0.00,3.42,3.13,2.71,5.14,...,6.28,2.73,49.67,4.98,3.67,NaN,NaN,NaN,2022-12-30,2022-12-30
28,ROKU,8.96,7.72,0.00,0.00,0.00,2.82,3.39,2.47,-20.16,...,27.18,2.74,18.90,0.01,0.40,NaN,NaN,NaN,2022-12-30,2022-12-30
29,GLBE,4.90,4.70,0.00,0.00,0.00,11.57,5.28,11.48,-432.42,...,2.14,1.79,5.78,0.08,0.13,NaN,NaN,NaN,2022-12-30,2022-12-30
30,ASAN,4.11,3.85,0.00,0.00,0.00,7.01,11.53,7.04,-9.92,...,76.15,1.99,1.66,-0.16,0.00,NaN,NaN,NaN,2023-01-30,2023-01-30
31,UPST,1.44,0.00,0.00,0.00,0.00,1.75,2.15,0.00,0.00,...,161.68,17.61,8.27,-0.67,-0.65,NaN,NaN,NaN,2022-12-30,2022-12-30
32,TWLO,11.06,8.14,0.00,46.08,44.96,2.82,1.05,2.13,-10.83,...,11.74,6.17,56.78,-0.25,0.26,NaN,NaN,NaN,2022-12-30,2022-12-30
33,CRSP,3.42,1.85,124.34,0.00,0.00,0.00,1.82,0.00,-2.85,...,13.01,15.30,23.89,-0.50,-0.34,NaN,NaN,NaN,2022-12-30,2022-12-30
34,APPN,2.94,2.93,0.00,0.00,0.00,6.25,20.17,6.25,-20.72,...,126.30,1.56,2.00,-0.11,-0.05,NaN,NaN,NaN,2022-12-30,2022-12-30
35,NNOX,0.34,0.26,0.00,0.00,0.00,37.15,1.50,30.67,-3.89,...,2.06,4.83,4.08,-0.04,-0.06,NaN,NaN,NaN,2022-12-30,2022-12-30
36,SHOP,57.17,53.51,0.00,0.00,48.74,10.13,6.94,9.56,-15.15,...,16.95,7.07,6.46,-0.14,0.23,NaN,NaN,2022-06-28,2022-12-30,2022-12-30

In [41]:
filename = input("Enter filename to save as: ")
if filename == '':
    filename = 'portfolio'
current_date = date.today().isoformat()
final_df.to_csv(f'data/{filename}_{current_date}.csv')
print(f'Saved to file: {filename}_{current_date}.csv')

Saved to file: s&p_2023-04-16.csv

In [17]:
import mysql.connector
import json

def get_value_from_json(json_file, key, sub_key=None):
   '''
   Function to read the json file for our app secret key
   '''
   try:
       with open(json_file) as f:
           data = json.load(f)
           if sub_key:
               return data[key][sub_key]
           else:
               return data[key]
   except Exception as e:
       print("Error: ", e)

config = get_value_from_json("data/secrets.json", "mysql_connector")

# Connect to server on localhost
try:
    cnx = mysql.connector.connect(**config)
    print('Connected to database')
    cur = cnx.cursor()
    insert_query = "INSERT IGNORE INTO companies (`ticker`, `name`, `index`) VALUES (%s, %s, %s)"
    for index, row in ticker_df.iterrows():
        try:
            data = (row['ticker'], row['name'].strip(), row['index'])
            #print(f'Inserting {data}', end = ' ')
            cur.execute(insert_query, data)
            cnx.commit()
            #print('Done')
        except mysql.connector.Error as err:
            print(err)
except mysql.connector.Error as err:
    print(err)
finally:
    print('Completed')
    cur.close()
    cnx.close()

Connected to database
1062: Duplicate entry 'TSLA' for key 'PRIMARY'
1062: Duplicate entry 'NVDA' for key 'PRIMARY'
1062: Duplicate entry 'GOOG' for key 'PRIMARY'
1062: Duplicate entry 'AMZN' for key 'PRIMARY'
1062: Duplicate entry 'IDXX' for key 'PRIMARY'
1062: Duplicate entry 'CDNS' for key 'PRIMARY'
1062: Duplicate entry 'MRNA' for key 'PRIMARY'
Completed

In [46]:
try:
    cnx = mysql.connector.connect(**config)
    print('Connected to database')
    cur = cnx.cursor()
    insert_query = '''INSERT IGNORE INTO statistics (Ticker, `Market Cap (B)`, `Enterprise Value (B)`, `Trailing P/E`,
       `Forward P/E`, `PEG Ratio (5 yr expected)`, `Price/Sales (ttm)`,
       `Price/Book (mrq)`, `Enterprise Value/Revenue`,
       `Enterprise Value/EBITDA`, `Beta (5Y Monthly)`, `52 Week Change (%)`,
       `S&P500 52-Week Change (%)`, `52 Week High`, `52 Week Low`,
       `50-Day Moving Average`, `200-Day Moving Average`,
       `Avg Vol 3 month (M)`, `Avg Vol 10 day (M)`, `Shares Outstanding`,
       `Implied Shares Outstanding`, `Float`, `% Held by Insiders`,
       `% Held by Institutions`, `Shares Short (M)`, `Short Ratio (M)`,
       `Short % of Float`, `Short % of Shares Outstanding`, `Shares Short`,
       `Forward Annual Dividend Rate`, `Forward Annual Dividend Yield (%)`,
       `Trailing Annual Dividend Rate`, `Trailing Annual Dividend Yield (%)`,
       `5 Year Average Dividend Yield`, `Payout Ratio (%)`,
       `Last Split Factor (x:1)`, `Profit Margin (%)`,
       `Operating Margin (ttm) (%)`, `Return on Assets (ttm) (%)`,
       `Return on Equity (ttm) (%)`, `Revenue (ttm) (B)`,
       `Revenue Per Share (ttm)`, `Quarterly Revenue Growth (yoy) (%)`,
       `Gross Profit (ttm) (B)`, `EBITDA (B)`,
       `Net Income Avi to Common (ttm) (B)`, `Diluted EPS (ttm)`,
       `Quarterly Earnings Growth (yoy) (%)`, `Total Cash (mrq) (B)`,
       `Total Cash Per Share (mrq)`, `Total Debt (mrq) (B)`,
       `Total Debt/Equity (mrq)`, `Current Ratio (mrq)`,
       `Book Value Per Share (mrq)`, `Operating Cash Flow (ttm) (B)`,
       `Levered Free Cash Flow (ttm) (B)`, `Dividend Date`, `Ex-Dividend Date`,
       `Last Split Date`, `Fiscal Year Ends`, `Most Recent Quarter (mrq)`) 
       VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
       %s)'''
    for index, row in final_df.iterrows():
        try:
            data = (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], 
                row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], 
                row[19], row[20], row[21], row[22], row[23], row[24], row[25], row[26], row[27], 
                row[28], row[29], row[30], row[31], row[32], row[33], row[34], row[35], row[36], 
                row[37], row[38], row[39], row[40], row[41], row[42], row[43], row[44], row[45], 
                row[46], row[47], row[48], row[49], row[50], row[51], row[52], row[53], row[54], 
                row[55], row[56], row[57], row[58], row[59], row[60])
            #print(f'Inserting {data}', end = ' ')
            cur.execute(insert_query, data)
            cnx.commit()
            #print('Done')
        except mysql.connector.Error as err:
            print(err)

except mysql.connector.Error as err:
    print(err)
finally:
    print('Completed')
    cur.close()
    cnx.close()

Connected to database
1062: Duplicate entry '2023-04-16-AAPL' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MSFT' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-AMZN' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-NVDA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-GOOG' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-TSLA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-CDNS' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MRNA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-IDXX' for key 'PRIMARY'
Completed