In [1]:
from modules.utils import *
from modules.YfScrapper import *
pd.set_option('display.max_columns', None)

<h2>Part 2 - S&P and portfolio web scraper</h2>
<h3>Introduction</h3>
<p>The Standard and Poor's 500, or simply the S&P 500, is a stock market index tracking the stock performance of 500 large companies listed on stock exchanges in the United States. Having consisting of 11 different sectors and over 500 different companies, the index can be used as a benchmark for a basic stock portfolio diversification in the US stock marker. It is one of the most commonly followed equity indices.</p>
    
<p>This script scraps data from the yahoo finance statistics page.</p>
<img src="images/sample.JPG">
<p>Two sets of data are in focus</p>
<ol>
    <li>The S&P index constituents.</li>
    <li>One's portfolio</li>
    </ol>

### Option 1 - S&P data

In [2]:
sp_df = get_SP500_data()
sp_df

Number of S&P constituent data obtained: 503

                      Company Symbol Portfolio%   Price    Chg     % Chg
0              Microsoft Corp   MSFT      6.92%  371.75   1.15   (0.31%)
1                  Apple Inc.   AAPL      6.82%  181.52  -2.73  (-1.48%)
2              Amazon.com Inc   AMZN      3.42%  145.33  -3.14  (-2.11%)
3                 Nvidia Corp   NVDA      2.99%  476.36   0.67   (0.14%)
4       Alphabet Inc. Class A  GOOGL      2.05%  138.53  -0.39  (-0.28%)
..                        ...    ...        ...     ...    ...       ...
498  Ralph Lauren Corporation     RL      0.01%  144.49   1.90   (1.33%)
499               Davita Inc.    DVA      0.01%  107.23   1.94   (1.84%)
500   Mohawk Industries, Inc.    MHK      0.01%  101.11   0.18   (0.18%)
501   Fox Corporation Class B    FOX      0.01%   28.04   0.07   (0.25%)
502  News Corporation Class B    NWS      0.01%   25.34  -0.14  (-0.53%)

[503 rows x 6 columns]

### Option 2 - Personal portfolio data

In [3]:
input_tickers = pd.read_csv('portfolio_tickers.csv') #input file with a list of portfolio tickers
tickers = input_tickers['Tickers'].tolist()

### Run code

In [4]:
scrapper = YfScrapper()
scrapper.add_tickers(tickers)
scrapper.get_ticker_stats('all', clean_df=True)

Added 37 tickers
TSLA status - 200
TTD status - 200
NVDA status - 200
GOOG status - 200
CRWD status - 200
AMZN status - 200
IDXX status - 200
MELI status - 200
ABNB status - 200
ZS status - 200
ASML status - 200
SE status - 200
AXON status - 200
TEAM status - 200
LULU status - 200
SNOW status - 200
NET status - 200
HUBS status - 200
DDOG status - 200
DOCN status - 200
U status - 200
SEMR status - 200
LMND status - 200
ZM status - 200
CDNS status - 200
PINS status - 200
MDB status - 200
MRNA status - 200
ROKU status - 200
GLBE status - 200
ASAN status - 200
UPST status - 200
TWLO status - 200
CRSP status - 200
APPN status - 200
NNOX status - 200
SHOP status - 200

In [6]:
final_df = scrapper.combine_data()

# OLD CODE

In [ ]:
# OLD CODE
# scrapped_data = {}

# try:
#     missed_tickers = scrap_ticker(tickers, data_dict=scrapped_data, sleeptime=2, batch_interval=50)
#     if missed_tickers:
#         missed_tickers = rescrap_missed(missed_tickers, data_dict=scrapped_data, max_tries=2)
# except Exception as e:
#     print(e)
# finally:
#     final_df, ticker_df = clean_df(scrapped_data, metrics, display_progress=False, market_indices=market_indices)
#     final_df.reset_index(drop=True, inplace=True)
# final_df

In [41]:
# filename = input("Enter filename to save as: ")
# if filename == '':
#     filename = 'portfolio'
# current_date = date.today().isoformat()
# final_df.to_csv(f'data/{filename}_{current_date}.csv')
# print(f'Saved to file: {filename}_{current_date}.csv')

Saved to file: s&p_2023-04-16.csv

In [17]:
# import mysql.connector
# import json

# def get_value_from_json(json_file, key, sub_key=None):
#    '''
#    Function to read the json file for our app secret key
#    '''
#    try:
#        with open(json_file) as f:
#            data = json.load(f)
#            if sub_key:
#                return data[key][sub_key]
#            else:
#                return data[key]
#    except Exception as e:
#        print("Error: ", e)

# config = get_value_from_json("data/secrets.json", "mysql_connector")

# # Connect to server on localhost
# try:
#     cnx = mysql.connector.connect(**config)
#     print('Connected to database')
#     cur = cnx.cursor()
#     insert_query = "INSERT IGNORE INTO companies (`ticker`, `name`, `index`) VALUES (%s, %s, %s)"
#     for index, row in ticker_df.iterrows():
#         try:
#             data = (row['ticker'], row['name'].strip(), row['index'])
#             #print(f'Inserting {data}', end = ' ')
#             cur.execute(insert_query, data)
#             cnx.commit()
#             #print('Done')
#         except mysql.connector.Error as err:
#             print(err)
# except mysql.connector.Error as err:
#     print(err)
# finally:
#     print('Completed')
#     cur.close()
#     cnx.close()

Connected to database
1062: Duplicate entry 'TSLA' for key 'PRIMARY'
1062: Duplicate entry 'NVDA' for key 'PRIMARY'
1062: Duplicate entry 'GOOG' for key 'PRIMARY'
1062: Duplicate entry 'AMZN' for key 'PRIMARY'
1062: Duplicate entry 'IDXX' for key 'PRIMARY'
1062: Duplicate entry 'CDNS' for key 'PRIMARY'
1062: Duplicate entry 'MRNA' for key 'PRIMARY'
Completed

In [46]:
# try:
#     cnx = mysql.connector.connect(**config)
#     print('Connected to database')
#     cur = cnx.cursor()
#     insert_query = '''INSERT IGNORE INTO statistics (Ticker, `Market Cap (B)`, `Enterprise Value (B)`, `Trailing P/E`,
#        `Forward P/E`, `PEG Ratio (5 yr expected)`, `Price/Sales (ttm)`,
#        `Price/Book (mrq)`, `Enterprise Value/Revenue`,
#        `Enterprise Value/EBITDA`, `Beta (5Y Monthly)`, `52 Week Change (%)`,
#        `S&P500 52-Week Change (%)`, `52 Week High`, `52 Week Low`,
#        `50-Day Moving Average`, `200-Day Moving Average`,
#        `Avg Vol 3 month (M)`, `Avg Vol 10 day (M)`, `Shares Outstanding`,
#        `Implied Shares Outstanding`, `Float`, `% Held by Insiders`,
#        `% Held by Institutions`, `Shares Short (M)`, `Short Ratio (M)`,
#        `Short % of Float`, `Short % of Shares Outstanding`, `Shares Short`,
#        `Forward Annual Dividend Rate`, `Forward Annual Dividend Yield (%)`,
#        `Trailing Annual Dividend Rate`, `Trailing Annual Dividend Yield (%)`,
#        `5 Year Average Dividend Yield`, `Payout Ratio (%)`,
#        `Last Split Factor (x:1)`, `Profit Margin (%)`,
#        `Operating Margin (ttm) (%)`, `Return on Assets (ttm) (%)`,
#        `Return on Equity (ttm) (%)`, `Revenue (ttm) (B)`,
#        `Revenue Per Share (ttm)`, `Quarterly Revenue Growth (yoy) (%)`,
#        `Gross Profit (ttm) (B)`, `EBITDA (B)`,
#        `Net Income Avi to Common (ttm) (B)`, `Diluted EPS (ttm)`,
#        `Quarterly Earnings Growth (yoy) (%)`, `Total Cash (mrq) (B)`,
#        `Total Cash Per Share (mrq)`, `Total Debt (mrq) (B)`,
#        `Total Debt/Equity (mrq)`, `Current Ratio (mrq)`,
#        `Book Value Per Share (mrq)`, `Operating Cash Flow (ttm) (B)`,
#        `Levered Free Cash Flow (ttm) (B)`, `Dividend Date`, `Ex-Dividend Date`,
#        `Last Split Date`, `Fiscal Year Ends`, `Most Recent Quarter (mrq)`) 
#        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
#        %s)'''
#     for index, row in final_df.iterrows():
#         try:
#             data = (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], 
#                 row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], 
#                 row[19], row[20], row[21], row[22], row[23], row[24], row[25], row[26], row[27], 
#                 row[28], row[29], row[30], row[31], row[32], row[33], row[34], row[35], row[36], 
#                 row[37], row[38], row[39], row[40], row[41], row[42], row[43], row[44], row[45], 
#                 row[46], row[47], row[48], row[49], row[50], row[51], row[52], row[53], row[54], 
#                 row[55], row[56], row[57], row[58], row[59], row[60])
#             #print(f'Inserting {data}', end = ' ')
#             cur.execute(insert_query, data)
#             cnx.commit()
#             #print('Done')
#         except mysql.connector.Error as err:
#             print(err)

# except mysql.connector.Error as err:
#     print(err)
# finally:
#     print('Completed')
#     cur.close()
#     cnx.close()

Connected to database
1062: Duplicate entry '2023-04-16-AAPL' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MSFT' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-AMZN' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-NVDA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-GOOG' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-TSLA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-CDNS' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-MRNA' for key 'PRIMARY'
1062: Duplicate entry '2023-04-16-IDXX' for key 'PRIMARY'
Completed